doctype html
html
  head
    title Dance academy
    block scripts
    block style
  body
    nav#navbar
        ul
              div#logo
                  img(src="/static/img/th.jpeg")
                  | HDA 
              li #[a(href="/") home]
              li #[a(href="/") about]
              li #[a(href="/") services]
              li #[a(href="/") class info]
              li #[a(href="/") contact us]
    block content
    footer#footer 
        | copyright@2023DanceAcademy.com | All right reserved.